.current-location-title {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.current-location-time {
  /* margin-left: 5rem;
  line-height: 2rem; */
  font-size: 1.6rem;
  display: inline;
  line-height: 1.8em;
}

.current-location-date {
  font-size: 1.6rem;
  display: inline;
}

.current-location-box {
  display: inline-flex;
}

.card {
  /* background-color: var(--surface); */
  background: rgba(255, 255, 255, 0.15);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--white);
}

.card-lg {
  border-radius: var(--radius-28);
  padding: 20px;
}

.card-sm {
  padding: 16px;
  border-radius: var(--radius-16);
}

.heading {
  color: #fff;
  font-size: 8rem;
  line-height: normal;
  text-align: center;
}

.title-1 {
  font-size: var(--title-1);
}

.title-2 {
  font-size: var(--title-2);
  margin-block-end: 12px;
}

.title-3 {
  font-size: var(--title-3);
  font-weight: var(--weight-semiBold);
}

.body-1 {
  font-size: var(--body-1);
}

.body-2 {
  font-size: var(--body-2);
  font-weight: var(--weight-semiBold);
}

.heading-desc {
  font-size: var(--body-3);
  text-align: left;
  color: var(--white);
}

.label-1 {
  font-size: var(--label-1);
}

.label-2 {
  font-size: var(--label-2);
}

.section:not(:last-child) {
  margin-block-end: 16px;
}

/* .current-weather-card {
  background: url("../../assets/weather_background/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

.current-weather-card .weapper {
  /* margin-block: 12px; */
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.current-weather-card .weather-icon {
  margin-inline: auto;
}

.current-weather-card > .body-3 {
  text-transform: capitalize;
}

.current-weather-card .meta-list {
  margin-block-start: 16px;
  padding-block-start: 16px;
  /* border-block-start: 1px solid var(--outline); */
}

.current-weather-card .meta-item {
  display: flex;
  align-items: center;
  gap: 18px;
}

.current-weather-card .meta-item:not(:last-child) {
  margin-block-end: 12px;
}

.current-weather-card .meta-text {
  color: var(--on-surface-variant);
}

.heading .heading-desc {
  text-transform: capitalize;
  margin-left: 5px;
}

.meta-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta-value .m-icon {
  margin: 0 auto;
}

.wind-direction {
  transform: rotate(15deg);
}
