.footer,
.footer .body-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}

.footer {
  display: flex;
  color: var(--on-surface-variant);
  text-align: center;
  gap: 12px 6px;
  margin-block-start: 28px;
}

.openweather-icon {
  color: azure;
  filter: invert(100%) sepia(0%) saturate(34%) hue-rotate(171deg)
    brightness(124%) contrast(164%);
}
